language: python
sudo: true
os:
  - linux

before_install:
  - autoconf --version
  - automake --version
  - sudo apt-get update
  - sudo apt-get install libcurl4-openssl-dev libjson0-dev
  - wget https://dl.influxdata.com/influxdb/releases/influxdb_1.0.2_amd64.deb
  - ls -la
  - sudo useradd influxdb
  - sudo dpkg -i influxdb_1.0.2_amd64.deb
  - travis_retry sudo service influxdb restart
  - sudo service influxdb status
  - sudo apt-get update
  - sudo apt-get install python3 python3-pip

before_script:
  - pip3 install -r requirements.txt

script:
  - python -m py_compile run.py
  - ./tests/integration.sh
