language: python
sudo: true
os:
  - linux

before_install:
  - autoconf --version
  - automake --version
  - sudo apt-get update
  - sudo apt-get install libcurl4-openssl-dev libjson0-dev
  - wget https://dl.influxdata.com/influxdb/releases/influxdb_1.0.2_amd64.deb 
  - sudo useradd influxdb
  - sudo dpkg -i influxdb_latest_amd64.deb
  - travis_retry sudo service influxdb restart
  - sudo service influxdb status

before_script:
  - pip install -r requirements.txt

script:
  - python -m py_compile server.py
  - ./test
